{% extends "index.html" %}
{% block contenido_interno %}
    <br/><h1>{{ pelicula['Titulo'] }} ({{ pelicula['idClasificacion'] }})</h1><br/>
    <div class="contenido-pelicula">
        <div class="datos-pelicula">
            <p>{{ pelicula['Sinopsis'] }}</p>
            <br/>
            <div class="tabla">
                <div class="fila">
                    <div class="celda-titulo">Estreno :</div>
                    <div class="celda">{{ pelicula['FechaEstreno'] }}</div>
                </div>
                <div class="fila">
                    <div class="celda-titulo">Género :</div>
                    <div class="celda">{{ pelicula['Geneross'] }}</div>
                </div>
                <div class="fila">
                    <div class="celda-titulo">Director :</div>
                    <div class="celda">{{ pelicula['Director'] }}</div>
                </div>
                <div class="fila">
                    <div class="celda-titulo">Reparto :</div>
                    <div class="celda">{{ pelicula['Reparto'] }}</div>
                </div>
            </div>
        </div>
        <img src="img/pelicula/{{ pelicula['id'] }}.jpg" width="160" height="226" alt="Imagen de {{ pelicula['Titulo'] }}"><br/><br/>
    </div>
    <div class="pelicula-video">
        <iframe 
            src="https://www.youtube.com/v/{{ pelicula['Link'] }}" 
            allowfullscreen 
            width="580" 
            height="400">
        </iframe>
    </div>
{% endblock contenido_interno %}
